# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Unity-Mehcnaics-master.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\kopko\Downloads\Unity-Mehcnaics-master\.idea\.idea.Unity-Mehcnaics-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
